[bumpversion]
current_version = 0.0.1-dev104
tag = False
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(\-(?P<release>[a-z]+)(?P<build>\d+))?
serialize = 
	{major}.{minor}.{patch}-{release}{build}
	{major}.{minor}.{patch}

[bumpversion:part:release]
optional_value = prod
first_value = dev
values = 
	dev
	prod

[bumpversion:file:src/whylogs/_version.py]

[bumpversion:file:docs/conf.py]

[bumpversion:file:Makefile]

[bumpversion:file:pyproject.toml]
