boto3==1.16.28
botocore==1.19.28
certifi==2020.11.8
click==8.0.0a1
fsspec==0.8.4
jmespath==0.10.0
marshmallow==3.9.1
numpy==1.19.4
pandas==1.1.4
protobuf==4.0.0rc2
python-dateutil==2.8.1
pytz==2020.4
PyYAML==5.3.1
s3fs==0.4.2
s3transfer==0.3.3
six==1.15.0
urllib3==1.26.2
coverage==5.3
whylabs-datasketches==2.0.0b7
freezegun==1.0.0
moto==1.3.16