appdirs==1.4.4
appnope==0.1.0
argh==0.26.2
attrs==19.3.0
awscli==1.18.121
backcall==0.2.0
black==19.10b0
bleach==3.1.5
boto3==1.14.44
botocore==1.17.44
bump2version==1.0.0
certifi==2020.6.20
cfgv==3.2.0
chardet==3.0.4
click==7.1.2
colorama==0.4.3
coverage==4.5.4
cycler==0.10.0
decorator==4.4.2
distlib==0.3.1
docutils==0.15.2
filelock==3.0.12
fsspec==0.8.0
identify==1.4.28
idna==2.10
iniconfig==1.0.1
ipykernel==5.3.4
ipython==7.17.0
ipython-genutils==0.2.0
jedi==0.17.2
jmespath==0.10.0
jupyter-client==6.1.6
jupyter-core==4.6.3
keyring==21.3.0
kiwisolver==1.2.0
marshmallow==3.7.1
matplotlib==3.3.1
more-itertools==8.4.0
nodeenv==1.4.0
numpy==1.19.1
packaging==20.4
pandas==1.1.0
parso==0.7.1
pathspec==0.8.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
pkginfo==1.5.0.1
pluggy==0.13.1
pre-commit==2.6.0
prompt-toolkit==3.0.6
protobuf==3.13.0
ptyprocess==0.6.0
py==1.9.0
pyarrow==1.0.0
pyasn1==0.4.8
Pygments==2.6.1
pyparsing==2.4.7
pytest==6.0.1
pytest-runner==5.2
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
pyzmq==19.0.2
readme-renderer==26.0
regex==2020.7.14
requests==2.24.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
rsa==4.5
s3fs==0.4.2
s3transfer==0.3.3
setuptools-black==0.1.5
six==1.15.0
toml==0.10.1
tornado==6.0.4
tqdm==4.48.2
traitlets==4.3.3
twine==3.2.0
typed-ast==1.4.1
urllib3==1.25.10
virtualenv==20.0.31
wcwidth==0.2.5
webencodings==0.5.1
whylabs-datasketches==2.0.0b6
