boto3==1.16.63
botocore==1.19.63
certifi==2020.12.5
click==8.0.0a1
fsspec==0.8.5
jmespath==0.10.0
marshmallow==3.10.0
numpy==1.19.5
pandas==1.1.4
protobuf==3.15.6
python-dateutil==2.8.1
pytz==2020.5
PyYAML==5.4
s3transfer==0.3.3
six==1.15.0
urllib3==1.26.4
whylabs-datasketches==2.2.0b1
xlrd==2.0.1
openpyxl==3.0.6
puremagic == 1.10
smart-open==4.1.2
tqdm==4.54.0
