sphinx>=2.1
sphinx-autoapi>=1.4.0
sphinx-copybutton>=0.5.0
myst-parser[sphinx]>=0.17.2
furo>=2022.3.4
sphinx-autobuild>=2021.3.14
sphinxext-opengraph>=0.6.3
sphinx-inline-tabs
flake8>=4.0.1
nbsphinx>=0.8.8
boto3>=1.22.13
