name: Upload Whylogs Packages

on:
  release:
    types: [released, prereleased]
  workflow_dispatch:
    
defaults:
  run:
    working-directory: python  

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.8"
      - name: Install Poetry
        uses: abatilo/actions-poetry@v2.0.0
        with:
          poetry-version: 1.1.5

      - name: Install Protoc
        uses: arduino/setup-protoc@v1
        with:
          version: "3.19.4"
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Cache Python dependencies
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements-dev.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Install dependencies
        run: make install

      - name: Autobump version
        run: |
          # from refs/tags/v1.2.3 get 1.2.3
          VERSION=$(echo $GITHUB_REF | sed 's#.*/v##')
          echo $VERSION
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          poetry run bump2version patch --verbose --commit --no-tag --new-version $VERSION

      #push version bump to tagged branch so new version is included in pypi
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}
          force: true

      - name: Build and publish Python
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: |
          make clean
          make dist
          poetry run twine upload dist/*

  bump_mainline:
    runs-on: ubuntu-latest
    needs: deploy
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.8"
      - name: Install Poetry
        uses: abatilo/actions-poetry@v2.0.0
        with:
          poetry-version: 1.1.5
      - name: install bump2version
        run: |
          pip install bump2version
      - name: bump_mainline
        run: |
          # from refs/tags/v1.2.3 get 1.2.3
          VERSION=$(echo $GITHUB_REF | sed 's#.*/v##')
          echo $VERSION
          # git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          # git config --local user.name "github-actions[bot]"
          poetry run bump2version patch --verbose  --no-tag --new-version $VERSION

      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: Update version ${{ env.VERSION }}
          committer: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          author: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          signoff: false
          branch: update_release_version
          base: mainline
          delete-branch: true
          title: "Bump version to release version ${{ env.VERSION }}"
          body: |
            Update mainline version to match release
            - bumped to release version

          labels: |
            automated pr
          team-reviewers: |
            owners
            maintainers
          draft: false
